<div id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script>
    //去除尾部匹配正则数组的字符串
    String.prototype.trimEnd = function(regStr)
    {
        var result = this;
        if(regStr==undefined||regStr==null||regStr=="")
        {
            return result;
        }
        var array = regStr.split(',');

        if(array.length > 0){

            var c = array.shift();
            var str= this;
            var i = str.length;
            var rg = new RegExp(c);
            var matchArr = str.match(rg);

            if(matchArr != undefined && matchArr != null && matchArr.length > 0)
            {
                var matchStr = matchArr[0].replace(/\\/g, "\\\\").replace(/\*/g, "\\*")
                    .replace(/\+/g, "\\+").replace(/\|/g, "\\|")
                    .replace(/\{/g, "\\{").replace(/\}/g, "\\}")
                    .replace(/\(/g, "\\(").replace(/\)/g, "\\)")
                    .replace(/\^/g, "\\^").replace(/\$/g, "\\$")
                    .replace(/\[/g, "\\[").replace(/\]/g, "\\]")
                    .replace(/\?/g, "\\?").replace(/\,/g, "\\,")
                    .replace(/\./g, "\\.").replace(/\&/g, "\\&");
                matchStr = matchStr + '$';
                result = str.replace(new RegExp(matchStr), "");
            }

            if(array.length > 0){
                return result.trimEnd(array.join())
            }
            else{
                return result;
            }
        }
    };
</script>
<script type="text/javascript">
    var hreftrimend = '#.*$,\\?.*$,index.html$'
    $.getScript('<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/gitalk.js', function () {
        var gitalk = new Gitalk({
            clientID: '<%=theme.gitalk.ClientID %>',
            clientSecret: '<%=theme.gitalk.ClientSecret %>',
            repo: '<%=theme.gitalk.repo %>',
            owner: '<%=theme.gitalk.githubID %>',
            admin: ['<%=theme.gitalk.adminUser %>'],
            id: md5(location.href.trimEnd(hreftrimend)),// decodeURI(location.pathname),
            distractionFreeMode: '<%=theme.gitalk.distractionFreeMode %>',
            language: '<%=theme.gitalk.language %>',
            perPage: parseInt('<%=theme.gitalk.perPage %>',10)
        })
        gitalk.render('comments')
    })
</script>
